 h1, p {
  font-family: Lato;
  /*color: azure*/
}
/*
.Product-button:hover {opacity: 1}

.Product-search{
    margin: 0 40%
}
#product-search{
  border-radius: 5px;
} */
a{
    text-decoration: none;
    font-size: 1em;
    transition: all ease-out 0.2s;
}
.active-link{
    border-bottom: 1px solid purple;
    color: pink;
}

Products-nav a:hover{
    color: purple;
    cursor: pointer;
}