/* .Product-div{
    float: left;
    margin: 3.3%
}
*/
.Product-img{
    width: 200px;
    height: 300px;
}

Product-item-hide {
    /*display: none;*/
    background: blue
}

Product-item-hide {
    display: block;
}